html { 
   scroll-behavior: smooth;
}
body {
    background-color: #FFFCFE;
    margin: 0;
    background-image: url(images/bobler.png), url(images/bobler2.png);
}

nav {
    background-color: #FDF0F6;
    padding: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 70px;
}
ul {
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 30px;

}
.menu-item {
    color: #222222;
    text-decoration: none;
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.menu-item:hover { 
    color: #FDBDDB;
}
li {
    display: inline;
}
