html { 
    scroll-behavior: smooth;
}
body {
    background-color: #FEFCFF;
    margin: 0;
    font-family: 'Antonio', sans-serif;
    background-image: url(images/bobler.png), url(images/bobler2.png);
    background-position: left top 20px, right top 20px;
    background-repeat: repeat-y; align-items: normal;
    background-size: 35%; 
}
.tubelight-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.tubelight-text h2 {
    position: relative;
    font-size: 14em;
    letter-spacing: 15px;
    color: #222;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #2222);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #222;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #222;
        text-shadow: 0 0 10px #E5BDFD,
                     0 0 20px #E5BDFD,
                     0 0 40px #E5BDFD,
                     0 0 80px #E5BDFD,
                     0 0 160px #E5BDFD;
    }
}

nav {
    background-color: #FAF0FD;
    padding: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 70px;
}
ul {
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 30px;
}
.menu-item {
    color: #222222;
    text-decoration: none;
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.menu-item:hover { 
    color: #E5BDFD;
}
li {
    display: inline;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    text-decoration: none;
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    font-family: 'Antonio', sans-serif;
    color: #222222;
}
.logoo {
    display: block;
    margin: 50px auto;
    max-width: 80%;
    height: auto;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}
.large-logo {
    width: 47%;
    height: auto;
}
.ommigkasse {
    width: 51%;
    height: auto;
}
.footer-container {
    display: flex;
    justify-content: center;
    background-color: #FAF0FD;
    padding: 20px;
}
.footer-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}
.footer-section h2 {
    font-size: 20px;
}
.footer-section p {
    font-size: 16px;
    margin: 5px 0;
}

/* Portølje css */
body {
    margin: 0;
    font-family: 'Antonio', sans-serif;
    background-color: #FEFCFF;
    background-image: url(images/bobler.png), url(images/bobler2.png);
    background-position: left top 20px, right top 20px;
    background-repeat: repeat-y;
    background-size: 25%; 
}

header {
    background-color: #FAF0FD;
    padding: 26px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    height: 70px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 30px;
}

.menu-item {
    color: #222222;
    text-decoration: none;
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.menu-item:hover { 
    color: #E5BDFD;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    text-decoration: none;
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-family: 'Antonio', sans-serif;
    color: #222222;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.streg { 
    display: block;

}

/* hvordan min images container ser ud  */
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
    width: 100%;
}

/* <hvordan images skal se ud i conataineren> */
.image-container img {
    max-width: 100%;
    height: auto;
}


.footer-container {
    display: flex;
    justify-content: center;
    background-color: #FAF0FD;
    padding: 20px;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.footer-section h2 {
    font-size: 20px;
}

.footer-section p {
    font-size: 16px;
    margin: 5px 0;
}
